NODE_ENV="node_environment"

APP_NAME="application_name"

CLIENT_URL="client_origin"
SERVER_URL="public_api_base_url_including_api_v1_prefix"

PORT="port_number"

CORS_DOMAINS="client_origin"

COOKIE_DOMAIN="cookie_domain_for_production"

JWT_SECRET="jwt_secret_key"
JWT_REFRESH_SECRET="jwt_refresh_secret_key"
RESET_TOKEN_SECRET="reset_token_secret_key"

JWT_ACCESS_TOKEN_EXPIRES_IN="access_token_expiration_time"
JWT_REFRESH_TOKEN_EXPIRES_IN="refresh_token_expiration_time"

AUTH_DUMMY_PASSWORD_HASH="fixed_argon2_hash_used_to_equalize_login_timing_when_no_user_is_found"

MONGO_URI="mongodb_connection_string"

CLOUDFLARE_TURNSTILE_SECRET_KEY="cloudflare_turnstile_secret_key"

SWAGGER_ENABLED="true_or_false_docs_route_registered_at_all"
SWAGGER_USER="swagger_docs_basic_auth_username_required_outside_dev"
SWAGGER_PASSWORD="swagger_docs_basic_auth_password_required_outside_dev"

RESEND_API_KEY="resend_api_key"
EMAIL_SENDER="email_sender_address"

THROTTLE_TTL="time_to_live_in_milliseconds"
THROTTLE_LIMIT="request_limit_in_time_to_live"
